<%- include('partials/head'); %>

<body>
        <%- include('partials/navbar'); %>

    <h1>Home Page   <%=3 + 5 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Aspernatur, modi corporis voluptates numquam eligendi 
         facere asperiores harum illo fugiat non adipisci! Nulla
         delectus asperiores, velit ducimus id maxime tempore 
         dolorum?</p>


</body>
</html>