<%- include('partials/head'); %>

<body>
    <%- include('partials/navbar'); %>

    <h1>Your random number is: <%= rand %></h1>
    <% if(rand % 2 === 0){ %>
        <h2>its a even number</h2>
    <% }else{ %>
        <h2>its odd</h2>
    <%} %>
    <h3><%= rand%2 ===0 ? 'even':'odd' %></h3>
</body>
</html>