<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit</h1>
    <form action="/comments/<% comment.id%>/edit">
        <textarea name="comment" cols="30" rows="10" id="">
        <%=comment.comment%>
    </textarea>
    <br>
    <button>Submit</button>

    </form>
</body>
</html>