<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>comment: <%=comment.id%></h1>
    <h2><%=comment.username%> - <b><%=comment.comment%></b></h2>
</body>
</html>